/* Убираем поля по границам страницы */
*{
	margin: 0;
	padding: 0;
	outline: none;
}
/* Задаём цвет подложки к тегу body */
body{
background-color: lightgray;
}

.mainZagolovok{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
	background-color: rgb(72, 203, 255);
	text-shadow: 1px 1px 2px black, 0 0 1em white;		/* Тень текста и свечение белым сзади */
	padding-top: 100px;
	padding-bottom: 20px;
	padding-right: 15%;
	padding-left: 30%;
	height: 200px;
	border: solid 1px black;
	/* overflow-wrap: break-word; */
	margin: 0;
}

.headlogo{
	position: relative;
	float: left;
	width: 270px;
	padding-left: 30%;
	margin: 0;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------- ГЛАВНАЯ СТРАНИЦА -------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */


/* Опиание подложки меню и кнопок на ней */
	.topMenuNavigation{
		position: relative;
		vertical-align: middle;
		text-align: center;
		top: -50px;											/* делаем наложение блоков (словёв) поднятием границы со знаком минус */
		border: solid 1px;
		border-radius: 50px 50px 0 0 ;
		width: 1000px;
		height: 100px;
		background-color: rgb(209, 204, 204);
		margin-left: auto;
		margin-right: auto;
	}

	/* описание визуализации кнопки */
	.button{
		font-weight: bold;
		float: left;
		margin: 30px 1px;
		margin-left: 6%;
		width: 170px;
		height: 40px;
		padding: 10px;
		background-color: transparent;
		border: none;
		border-radius: 10px;
	}
	
	/* при наведении на кнопку - изменение визуализации */
	.button:hover{
		color: rgb(2, 0, 0);
		background: deepskyblue;
	}
	
	.mainInfoBlock{
		position: relative;
		border: solid 1px;
		width: 1000px;
		height: 1200px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		top: -50px;
	}

	.zagolovok_2{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 24pt;
		text-align: center;
		padding-top: 10pt;;
	}

	.goryinova1{
		margin-left: 1%;
	}

	.slider{
		width: 900px;
		height: 320px;
		/* border: solid 2px black; */
		margin: 30px auto;
		overflow: hidden;
	}

	.slider-line{
		width: 8100px;					/* указываем ширину блока слайдер - сумма всех значений ширины всех блоков, картинок и т.д. */
		height: 292px;
		/* background-color: orangered; */
		display: flex;
		position: relative;
		left: 0;
		transition: all ease 1s ;
	}

	.about{
		width: 900px;
		font-family: Arial, Helvetica, sans-serif;
		float: right;
		margin: 7px 200px 7px 50px;
		line-height: 2;
	}

	.btn_report{
		float: right;
		margin: 7px 150px 7px 0;
		width: 200px;
		height: 50px;
		border: solid 2px lightgrey;
		border-radius: 10px;
		background-color: white;
		font-size: 12pt;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.7;
	}

	.btn_report:hover{
		color: black;
		background:rgb(209, 204, 204);
	}

	.textbold{
		font-weight: bold;
		}


	.o_kollegii{
		padding-left: 15pt;
		padding-right: 15pt;
		text-align: justify;
		line-height: 1.8;
	}

	.tableInfoBlock{
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		text-align: justify;
 		padding-left: 1%;
		line-height: 2;
		overflow-wrap: break-word;
	}
	
	.cellInfo{
		width: 33%;
		padding-right: 5%;
		vertical-align: top;
	}

	.downInfoBlock{
		position: absolute;
		border: solid 1px;
		width: 100%;
		height: 300px;
		background-color: black;
		top: 1570px;
		margin: 0;
	}

	.gerbNSK{
		position: relative;
		float: left;
		padding-left: 35%;
		padding-top: 4%;
		
	}

	.downMenuNavigation{
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		float: right;
		padding-top: 3%;
		padding-right: 30%;
		width: 550px;
	}

	/* Убирание нижнего подчёркиванния ссылок и изменнеие цвета ссылок с синего на белый - типа простого текста */
	.noUnderLine{
		text-decoration: none;
		color: white;
		font-weight: bolder;
	}
	
	.contact{
		width: 500px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: .8em;
		color: grey;
		float: right;
		padding-right: 32.1%;
		padding-top: 1%;
		line-height: 1.8;
	}

	.copyright{
		font-family: Arial, Helvetica, sans-serif;
		font-size: .8em;
		color: grey;
		float: right;
		padding-right: 38%;
		padding-top: 0.5%;
		line-height: 1.8;
	}


/* --------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------- СТРАНИЦА ЮРИДИЧЕСКОЙ ПОМОЩИ --------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

.zagolovok_ur_help{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30pt;
	font-weight: bold;
	padding: 20px 0 0 60px;
}

.btn_ur_help{
	color: black;
	background-color: white;
	border: solid 2px lightgrey;
	border-radius: 10px;
	width: 300px;
	height: 50px;
	margin-bottom: 15px;
	margin-left: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.btn_ur_help:hover{
	color: black;
	background-color: lightgrey;
}

.spisok{
	width: 550px;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	font-size: 12pt;
	line-height: 2.2;
	margin: -465px 10px;
}

.otstupUL{
	margin-left: 8%;
}

.otstupKrStr{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 6%;
	line-height: 2;
}

.palateContacts{
	font-size: 12pt;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 10px;
	line-height: 2.5;
	
	/* Делаем сетку таблицы. Убираем двойную линию разметки
	во всей таблицы через collapse и сливаем 
	с фоном внешнюю границу через border. НАЧАЛО */
	border-collapse: collapse;
	border: solid 2px white;
}
/* Делаем сетку таблицы. Указываем border для 
	внутренних границы КОНЕЦ */
.setka{
	padding-left: 10px;
	border: solid 1px black;
}

.tableZagolovok{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}
	
/* --------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------- СТРАНИЦА АДВОКАТЫ КОЛЛЕГИИ --------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

.mainInfoBlockLong{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 3300px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockLong{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 3670px;
	margin: 0;
}

.downMenuNavigationLong{
	font-family: Arial, Helvetica, sans-serif;
		color: white;
		float: right;
		padding-top: 3%;
		padding-right: 30%;
}

.gerbNSKLong{
	position: relative;
		float: left;
		padding-left: 35%;
		padding-top: 4%;
}

.contactLong{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: grey;
	float: right;
	padding-right: 33.9%;
	padding-top: 1%;
	line-height: 1.8;
}

.copyrightLong{
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: grey;
	float: right;
	padding-right: 38%;
	padding-top: 0.5%;
	line-height: 1.8;
}

.membersZagolovok{
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.membersOtstup{
margin-left: 60px;
margin-right: 20px;
}

.marginBlockBottom{
	margin-bottom: 70px;
}

.wideImg{
width: 434px;
height: 276px;
font-family: Arial, Helvetica, sans-serif;
float: right;
line-height: 1.8;
}


.horizontImg{
	width: 350px;
	height: 276px;
	float: right;
	line-height: 1.8;
	padding-right: 330px;
}

.horizontImgUhabov{
	width: 400px;
	height: 276px;
	float: right;
	line-height: 1.8;
	padding-right: 180px;
}


.memContString{
	line-height: 2;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------- СТРАНИЦА КОНТАТОВ ------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */



.mainInfoBlockContacts{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 900px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockContacts{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 1270px;
	margin: 0;
	
}

.Info{
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 2;
}

.ContactInfo{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 12pt;
}

.mapInfo{
	color: black;
	font-size: 12pt;
	position: relative;
	padding-left: 60px;
}

.map{
	position: relative;
	width: 850px;
	height: 450px;
	border: solid 1px black;
	margin-left: 60px;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------- SECONDARY PAGES ------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------- */

.mainInfoBlockSecPages{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 1600px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockSecPages{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 1950px;
	margin: 0;
}

.mainInfoBlockSecPagesHouses{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 1400px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockSecPagesHouses{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 1750px;
	margin: 0;
}

.mainInfoBlockSecPagesWorks{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 1950px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockSecPagesWorks{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 2300px;
	margin: 0;
}

.mainInfoBlockSecPagesInheritance{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 850px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockSecPagesInheritance{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 1200px;
	margin: 0;
}

.mainInfoBlockSecPagesAdministrative{
	position: relative;
	border: solid 1px;
	width: 1000px;
	height: 1350px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	top: -50px;
}

.downInfoBlockSecPagesAdministrative{
	position: absolute;
	border: solid 1px;
	width: 100%;
	height: 300px;
	background-color: black;
	top: 1550px;
	margin: 0;
}